// Small devices
@media (max-width: 767.98px) {
  .cards-container {
    grid-template-columns: auto auto;
  }
  .image-card {
    &__button {
      width: 8rem;
      height: 6rem;
    }
    &__img {
      width: 8rem;
      height: 6rem;
    }
  }
  .win-screen {
    margin-left: 2.5rem;
    width: 15rem;
  }
}

// Medium devices
@media (min-width: 768px) and (max-width: 991.98px) {
  .cards-container {
    grid-template-columns: auto auto auto;
  }
  .image-card {
    &__button {
      width: 12rem;
      height: 10rem;
    }
    &__img {
      width: 12rem;
      height: 10rem;
    }
  }
}
